<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Confirmation de collecte de votre raquette </title>
  <style>
    /* Styles CSS */
  </style>
</head>

<body>

  <h1>Confirmation de collecte de votre raquette </h1>
  
  <p>Bonjour {{ customerName }},</p>
  
  <p>Nous vous confirmons que votre raquette a été récupérée avec succès  le {{ date }} .</p>
  


  <h2>Retour de service :</h2>
  <p>Notre équipe s'apprête à corder votre raquette.</p>
  <p>Un email et un sms vous seront envoyé pour vous informer dès que votre commande sera prête.</p>
  <p>Vous pouvez également suivre l'avancement de votre commande sur notre site internet en cliquant sur ce lien :
    <a href="https://click-and-raquette.com/détails_commande/{{ orderId }}">Suivi de commande</a>.
  </p>
  
  <p>Merci pour votre confiance.</p>
  
  <p>Cordialement,</p>
  <p>L'équipe click and raquette</p>
  
</body>

</html>
