<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Confirmation de collecte de votre raquette </title>
  <style>
    /* Styles CSS */
  </style>
</head>

<body>

  <h1>Confirmation de collecte de votre raquette </h1>
  
  <p>Bonjour {{ customerName }},</p>
  
  <p>Nous vous confirmons que votre raquette a été récupérée le {{ date }} .</p>
  

  <h2>Retour de service :</h2>
  <p>Un email et un sms vous seront envoyé lorsque votre commande sera prête.</p>
  <p>Vous pouvez également suivre l'avancement de votre commande sur le site dans la rubrique commandes.</p>
  
  <p>Merci pour votre confiance.</p>
  
  <p>Cordialement,</p>
  <p>L'équipe click and raquette</p>
  
</body>

</html>
