<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Confirmation de commande </title>
  <style>
    /* Styles CSS */
  </style>
</head>

<body>

  <h1>Confirmation de commande </h1>
  
  <p>Bonjour {{ customerName }},</p>
  
  <p>Nous vous confirmons que votre commande a bien été prise en compte.</p>
  


  <h2>Retour de service :</h2>
  <p>Un email vous sera envoyé pour vous informer dès que votre commande sera prête.</p>
  <p>Vous pouvez également suivre l'avancement de votre commande sur notre site internet en cliquant sur ce lien : <a href="https://click-and-raquette.com/historique_commandes">Suivi de commande</a>.</p>
  
  <p>Merci pour votre confiance.</p>
  
  <p>Cordialement,</p>
  <p>L'équipe click and raquette</p>
  
</body>

</html>
