<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Nouvelle commande </title>
  <style>
    /* Styles CSS */
  </style>
</head>

<body>

  <h1>Nouvelle de commande </h1>
  
  <p>Bonjour,</p>
  
  <p>Une nouvelle commande a été passée.</p>
  <p>Il s'agit d'une raquette déposée à {{ hub }}.</p>
  <p>Pour plus de précision vous pouvez cliquez sur ce lien
   <a href="https://click-and-raquette.com//détails_commande/{{ idOrder }}"> commande {{ idOrder }}</a>.</p>




  
  <p>Cordialement,</p>
  <p>L'équipe click and raquette</p>
  
</body>

</html>
