<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Nouvelle commande </title>
  <style>
    /* Styles CSS */
  </style>
</head>

<body>

  <h1>Nouvelle commande  </h1>
  
  <p>Bonjour {{ customerName }},</p>
  
  <p>Nous vous confirmons qu'une nouvelle commande a été effectuée.</p>
  <p>Vous pouvez également suivre l'avancement de votre commande sur le site dans la rubrique commandes.</p>



  
  <p>Merci pour votre confiance.</p>
  
  <p>Cordialement, </p>
  <p>L'équipe click and raquette</p>
  
</body>

</html>
