<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Nouvelle commande </title>
  <style>
    /* Styles CSS */
  </style>
</head>

<body>

  <h1>Nouvelle commande  </h1>
  
  <p>Bonjour {{ customerName }},</p>
  
  <p>Nous vous confirmons qu'une nouvelle commande a été effectué à collecter à {{ hub }} .</p>
  <p>Les détails supplémentaires sont disponible en cliquanr sur le lien <a href="https://click-and-raquette.com/détails_commande/{{ orderId }}">Suivi de commande</a> .</p>

 idOrder, 

  
  <p>Merci pour votre confiance.</p>
  
  <p>Cordialement,</p>
  <p>L'équipe click and raquette</p>
  
</body>

</html>
