<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Votre commande est disponible </title>
  <style>
    /* Styles CSS */
  </style>
</head>

<body>

  <h1>Votre commande est prête ! </h1>
  
  <p>Bonjour {{ customerName }},</p>
  
  <p>Nous vous confirmons que votre commande est disponible au magazin</p>

  
  <p>Merci pour votre confiance.</p>
  
  <p>Cordialement,</p>
  <p>L'équipe click and raquette</p>
  
</body>

</html>
